body {
    margin:0;
    padding: 0;
    color: #484848;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 100;
    background-color: #E9EFF5;
}

div {
    margin:0;
    padding:0;
    display: inline-block;
}

.header {
    text-align: center;
    width: 100%;
    padding: 30px 0 30px 0;
}

.content {
    padding-top: 30px;
    width: 70%;
    margin-left: 15%;
}

.about {
    text-align: justify;
    width: 100%;
}

.me {
    width: 60%;
    padding-right: 5%;
    float: left;
}

.contact {
    width: 30%;
    padding-left: 5%;
    float: right;
}

.index {
    width: 100%;
}

a {
    font-weight:100;
    line-height: 2.0em;
    font-size: 1.2em;
    color: #484848;
    text-decoration: none;
}

.index a {
    padding: 5px;
    border: 2px solid #d35400;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.index a:hover {
    background-color: #d35400;
    color: #E9EFF5;
    border: 2px solid #484848;
    box-shadow: 0 0 5px 1px #484848;
}

span {
    font-size: 0.4em;
    display: block;
    color: #484848;
}

h1 {
    font-weight: 100;
    font-size: 3.5em;
    color: #d35400;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 1.5em;
    font-weight: 100;
    color: #3498db;
}


ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.contact a {
    border-left: 3px solid #d35400;
    padding-left: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.contact a:hover {
    padding-left: 15px;
}

@media all and (max-width: 480px) {

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

}