* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #ECF0F1;
}

h1 {
    font-size: 3.0em;
    font-weight: 300;
}

span {
    display: block;
    font-size: 0.6em;
    font-weight: 100;
}

a {
    padding: 15px;
    margin: 20px;
    font-size: 1.5em;
    color: #ECF0F1;
    text-decoration: none;
    border: 1px solid #ECF0F1;
    transition: all 0.1s linear;
    border-radius: 15px;
}

header {
    width: 100%;
    padding: 90px 0;
    text-align: center;
    background-color: #2980b9;
    background-image: url(../images/square_bg.png);
    overflow: hidden;
}

header a {
    padding: 0;
    margin: 0;
    border: none;
}

footer {
    width: 100%;
    padding: 60px 0;
    text-align: center;
    background-color: #2980b9;
    background-image: url(../images/square_bg.png);
}

footer a {
    border: 1px solid #2980b9;
}

footer a:hover {
    border: 1px solid #ECF0F1;
}

.main {
    width: 100%;
}

.portfolio {
    padding: 60px 10%;
    overflow: hidden;
}

.portfolio img {
    display: inline-block;
    width: 50%;
    height: auto;
    float: left;
}

.portfolio .desc {
    display: inline-block;
    width: 50%;
}

.portfolio h2 {
    margin: 0 0 20px 0;
    font-size: 2.5em;
    font-weight: 100;
}

.portfolio p {
    font-size: 1.5em;
    line-height: 1.4em;
}

.links {
    margin-top: 60px;
    text-align: center;
}

.portfolio a {
    display: block;
    margin: 20px 20%;
}

.portfolio a:hover {
    color: #2980b9;
    border: 1px solid #2980b9;
}

.imploexplo, .particles {
    color: #ECF0F1;
    background-color: #000;
}

.imploexplo a, .particles a {
    color: #ECF0F1;
}

.portaless {
    color: #000;
    background-color: #fff;
}

.portaless a {
    color: #111;
    border: 1px solid #000;
}

.mail {
    background: url(../icons/email.svg);
    background: url(../icons/email-outline.svg);
}

.mail:hover {
    background: url(../icons/email.svg);
}

.twitter {
    background: url(../icons/twitter.svg);
    background: url(../icons/twitter-outline.svg);
}

.twitter:hover {
    background: url(../icons/twitter.svg);
}

.github {
    background: url(../icons/github.svg);
    background: url(../icons/github-outline.svg);
}

.github:hover {
    background: url(../icons/github.svg);
}

.social-icons {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 15px 20px 0 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.social-icons:hover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

@media only screen and (max-device-width: 568px) {
    h1 {
        font-size: 1.5em;
    }

    span {
        font-size: 0.8em;
    }

    .social-icons {
        width: 30px;
        height: 30px;
        margin: 20px 15px 0 15px;
    }

    a {
        /*padding: 10px;*/
        font-size: 1.4em;
    }

    .portfolio a {
        margin: 20px 0;
    }

    .portfolio {
        padding: 60px 5%;
        overflow: hidden;
    }

    footer {
        padding: 20px 0;
    }

    footer a {
        display: block;
        border: 1px solid #ECF0F1;
    }

    .portfolio img {
        width: 100%;
        float: none;
    }

    .portfolio .desc {
        width: 100%;
    }

    .portfolio h2 {
        text-align: center;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    header {

    }

    footer {

    }

    footer a {
        border: 1px solid #ECF0F1;
    }

    .portfolio img {
        width: 100%;
        float: none;
    }

    .portfolio .desc {
        width: 100%;
    }

    .portfolio h2 {
        text-align: center;
    }
}