body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
    background-color: #FFF;
    color: #555;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
}

header {
    width: 100%;
    background-color: #2C3E50;
    text-align: center;
}

.logo {
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #1ABC9C;
    color: #1ABC9C;
    font-size: 2.5em;
    line-height: 100px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.about {
    text-align: justify;
    display: inline-block;
    width: 700px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.about p {
    font-size: 1.5em;
    color: #BDC3C7;
}

.about .lower {
    font-size: 1.2em;
}

.highlight {
    color: #1ABC9C;
    font-size: 1.1em;
}

.about a {
    text-decoration: none;
    border-bottom: 1px solid #1ABC9C;
    color: #1ABC9C;
    font-size: 1.2em;
}

.about a:hover {
    color: #16A085;
    border-bottom: 1px solid #16A085;
}

.main {
    width: 640px;
    margin: 0 auto;
    text-align: center;
}

.main p {
    text-align: left;
    font-weight: 400;
}

.main .highlight {
    color: #1ABC9C;
    font-size: 1.0em;
}

h2 {
    margin-top: 80px;
    text-align: center;
    font-weight: 200;
}

h2 span {
    display: block;
    font-size: 0.6em;
    font-weight: 600;
}

img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 600px)  {
    .about, .main {
        width: 100%;
        text-align: left;
    }

    .about {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .logo {
        margin-bottom: 30px;
    }

    p {
        padding-left: 10px;
        padding-right: 10px;
    }

    .about p {
        font-size: 1.2em;
    }

    .about .lower {
        font-size: 1.0em;
    }

    iframe {
        width: 100%;
        height: 200px;
    }
}